@using Models.EF;
@using Models.ModelsView;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<sDonVi> lstDonVi = ViewBag.lstLib;
    List<cAnPhamView> lstAp = ViewBag.lstAP8;
    List<aTacGia> lstTG = ViewBag.lstTG4;
}

<!-- banner -->
<div class="banner-bg-agileits">
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <p class="b-txt">the</p>
            <h2 class="title">
                Library
            </h2>
            <ul class="banner-txt">
                <li>share.</li>
                <li> explore. </li>
                <li>amplify.</li>
            </ul>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<div class="about-sec section" id="about">
    <div class="container">
        <div class="col-md-7 about-left-grid">
            <div class="inner-about2">
                <h4>Thư viện trung tâm thành phố</h4>
                <p>Được giới thiệu là lớn nhất thành phố, và bộ sưu tập của thư viện chứa hơn 3 triệu ấn phẩm.</p>
                <h5>Danh sách đơn vị thuộc thư viện</h5>
                <ul class="about-list">
                    @foreach (var item in lstDonVi)
                    {
                        <li>
                            <a href="/LibraryList/Detail/@item.ID"><i class="fa fa-play-circle-o" aria-hidden="true"></i>@item.TenDonVi</a>
                        </li>
                    }
                </ul>
                <a href="/LibraryList/Index">Xem thêm</a>
            </div>
        </div>
        <div class="col-md-5 about-right-grid"></div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- about bottom -->
<div class="about-bottom section">
    <div class="container-fluid">
        <h4 class="rad-txt">
            <span class="abtxt1">ấn phẩm</span>
            <span class="abtext">mới được cập nhật</span>
        </h4>
        <!-- about-bottom grid1 -->
        <div class="col-md-6 about-bottom-right">
            @foreach (var item in lstAp)
            {
                <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls">
                    <a href="/AnPham/@item.ID">
                        <div class="ab1">
                            <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon" style="padding-left:0px">
                                @*<span class="fa fa-book" aria-hidden="true"></span>*@
                                <img src="@item.HinhAnh" style="width:49px; height:49px" />
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                                <h5>@item.NhanDe</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <!-- //about-bottom grid1 ends here -->
        <div class="col-md-6 home-about2">
            <!-- about-bottom grid2 -->
            <div class="col-md-6 col-sm-6 col-xs-6 bg-right"></div>
            <!-- //about-bottom grid2 ends here -->
            <!-- about-bottom grid3 -->
            <div class="col-md-6 col-sm-6 col-xs-6 w3ls-section  stats">
                <div class="stats-aboutinfo services-main">
                    <div class="agileits_w3layouts-stats-grids text-center">
                        <div class="stats-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>số ấn phẩm</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-delay='.5' data-increment="300">@ViewBag.LSAP</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="agileits_w3layouts-stats-grids text-center">
                        <div class="stats-icon">
                            <span class="fa fa-university" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>Thư viện</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-delay='.5' data-increment="50">@lstDonVi.Count</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="agileits_w3layouts-stats-grids text-center">
                        <div class="stats-icon">
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>lượt mượn</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-delay='.5' data-increment="50">@ViewBag.SLPM</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="agileits_w3layouts-stats-grids text-center">
                        <div class="stats-icon">
                            <span class="fa fa-users" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>Người dùng</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-delay='.5' data-increment="300">@ViewBag.SLBD</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //about-bottom grid3 ends here -->
        <!-- //Numscroller -->
        <div class="clearfix"></div>
    </div>
    <!-- //about container ends here-->
</div>
<!--//about bottom ends here-->
<!-- team -->
<div id="team" class="team section">
    <div class="team-container">
        <div class="team-row">
            <!-- team grid1 -->
            <div class="col-md-5 team-grid-left">
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-effect">
                        <img src="@lstTG[0].AnhDaiDien" alt="img" class="img-responsive">
                        <div class="social-icon">
                            @*<a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>*@
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>@lstTG[0].HoTen</h4>
                        <p>@lstTG[0].GoiThieu</p>
                    </div>
                </div>
                <!-- //team individual grid -->
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-text">
                        <h4>@lstTG[1].HoTen</h4>
                        <p>@lstTG[1].GoiThieu</p>
                    </div>
                    <div class="team-effect">
                        <img src="@lstTG[1].AnhDaiDien" alt="img" class="img-responsive">
                        <div class="social-icon">
                            @*<a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>*@
                        </div>
                    </div>
                    <!-- //team individual grid -->
                </div>
            </div>
            <!-- //team-grid1 ends here-->
            <!--team-grid2 -->
            <div class="col-md-2 col-sm-2 team-mid-txt text-center">
                <span>Tác giả</span>
                <h5>nổi</h5>
                <h5>bật</h5>
            </div>
            <!--//team-grid2 ends here-->
            <!-- team grid3 -->
            <!-- team individual grid -->
            <div class="col-md-5 team-grid-right">
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-text">
                        <h4>@lstTG[2].HoTen</h4>
                        <p>@lstTG[2].GoiThieu</p>
                    </div>
                    <div class="team-effect">
                        <img src="@lstTG[2].AnhDaiDien" alt="img" class="img-responsive">
                        <div class="social-icon">
                            @*<a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>*@
                        </div>
                    </div>
                </div>
                <!-- //team individual grid -->
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-effect">
                        <img src="@lstTG[3].AnhDaiDien" alt="img" class="img-responsive">
                        <div class="social-icon">
                            @*<a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>*@
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>@lstTG[3].HoTen</h4>
                        <p>@lstTG[3].GoiThieu.</p>
                    </div>
                </div>
                <!-- //team individual grid -->
                <div class="clearfix"> </div>
            </div>
            <!-- //team grid3 -->
            <div class="clearfix"> </div>
        </div>
        <!-- //team-row ends here -->
    </div>
    <!-- // team container ends here -->
</div>
<!-- //team -->