@using Models.EF;
@using Models.ModelsView;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<aNXB> lstNXB = ViewBag.lstNXB;
    List<cAnPhamView> lstAP = ViewBag.lstAP;
    int page = int.Parse(Session["page"].ToString());
    int pageCount = int.Parse(Session["pageCount"].ToString());
}

@section Styles{
    <link href="~/assets/client/plugin/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/client/plugin/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}
<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a href="/">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a href="/Newspaper/Index">Thư viện báo</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->
<!-- Shop -->
<div class="innerf-pages section">
    <div class="container-cart">
        <!-- product left -->
        <div class="side-bar col-md-3">
            <!-- // preference -->
            <div class="search-hotel">
                <form action="#" method="post">
                    <input type="search" placeholder="Tìm kiếm theo nhan đề" name="search" id="txtsearch" value="@Session["search"]" required="">
                    @*<input type="submit" value="Tìm kiếm">*@
                </form>
            </div>
            <!--preference -->
            <div class="left-side">
                <h3 class="shopf-sear-headits-sear-head">
                    Ngày xuất bản
                </h3>
                <div class="form-group row div-label-year">
                    <label class="col-sm-3 col-form-label pdr-0 label-year">Từ ngày</label>
                    <div class="col-sm-9">
                        <input type="text" class="datepicker" id="fromDate" style="width:100%" value="@Session["fromdate"]">
                    </div>
                </div>
                <div class="form-group row div-label-year">
                    <label class="col-sm-3 col-form-label pdr-0 label-year">Đến ngày</label>
                    <div class="col-sm-9">
                        <input type="text" class="datepicker" id="toDate" style="width:100%" value="@Session["todate"]">
                    </div>
                </div>
            </div>
            <!-- //price range -->
            <!--preference -->
            <div class="left-side">
                <h3 class="shopf-sear-headits-sear-head">
                    <span>nhà</span> xuất bản
                </h3>
                <select class="form-control select2">
                    <option value="0">--Chọn nhà xuất bản--</option>
                    @foreach (var item in lstNXB)
                    {
                        if (item.ID.ToString() == Session["IDNXB"].ToString())
                        {
                            <option value="@item.ID" selected>@item.TenNXB</option>
                        }
                        else
                        {
                            <option value="@item.ID">@item.TenNXB</option>
                        }
                    }
                </select>
            </div>
            <div class="row" style="padding-top: 10px; float: right; margin-right: 0px">
                <a class="btn btn-default" style="width:100%; border-radius:0px; " onclick="Search()">Tìm kiếm</a>
            </div>
            <!-- // preference -->
        </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="left-ads-display col-md-9">
            <div class="wrapper_top_shop">
                <!-- product-sec1 -->
                <div class="product-sec1">
                    <!-- row1-->
                    @foreach (var item in lstAP)
                    {
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="single_product.html">
                                        <img src="@item.HinhAnh" alt="" style="width: 168px; height:250px">
                                    </a>
                                </div>
                                <div class="caption">
                                    @if (item.NhanDe.Length > 33)
                                    {
                                        <h4>@item.NhanDe.Substring(0, 33) ...</h4>
                                    }
                                    else
                                    {
                                        <h4>@item.NhanDe</h4>
                                    }
                                    <p>@item.TacGia</p>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
                <!-- //product-sec1 -->
                <div class="clearfix"></div>
            </div>
            <div class="text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (page != 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Magazine/Index?page=@(page-1)&IDTG=@Session["IDTG"]&IDPL=@Session["IDPL"]" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= pageCount; i++)
                        {
                            if (i == page)
                            {
                                <li class="page-item active"><a class="page-link" href="/Magazine/Index?page=@i&IDTG=@Session["IDTG"]&IDPL=@Session["IDPL"]">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="/Magazine/Index?page=@i&IDTG=@Session["IDTG"]&IDPL=@Session["IDPL"]">@i</a></li>
                            }
                        }
                        @if (page != pageCount)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Magazine/Index?page=@(page+1)&IDTG=@Session["IDTG"]&IDPL=@Session["IDPL"]" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--// Shop -->

@section Scripts{
    <script src="~/assets/client/plugin/select2/js/select2.full.min.js"></script>
    <script src="~/assets/client/plugin/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/client/plugin/datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8"></script>
    <script>
        $('.select2').select2({
        });
        $(".datepicker").datepicker({
            format: 'dd-mm-yyyy',
            language: 'vi'
        });
        function Search() {
            var search = $('#txtsearch').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var tg = $('#ddlNXB').val();
            location.href = '/Newspaper/Index?search=' + search + '&fromdate=' + fromDate + '&todate=' + toDate + '&IDNXB=' + tg;
        }
    </script>
}